$key_height: 16vmin;
body {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
}

#calculator {
	width: 100vmin;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;

	
	::selection {
		background-color: transparent;
		color: inherit;
	}
	
	#result {
		text-align: right;
		padding-right: 2vmin;
		background-color: black;
		color: white;
		font-size: 14vmin;
		font-weight: 100;
		height: 1.3*$key_height;
		line-height: 1.3*$key_height;
	}

	#preview {
		text-align: right;
		padding-right: 2vmin;
 		background-color: black;
 		color: white;
 		font-size: 6vmin;
 		font-weight: 100;
 		height: 0.7*$key_height;
 		line-height: 0.7*$key_height;
 		
	}

	#keys {
		text-align: center;
		.key {
			background-color: white;
			color: black;
			font-size: 8vmin;
			font-weight: 100;
			height: $key_height;
			line-height: $key_height;
			transition: background-color 0.3s ease-in;

			&:hover {
				background-color: darken(#434343, 5%);
		}
			&:active {
				background-color: darken(#434343, 10%);
			}			
		}
	}

	#operators {
		text-align: center;
		.operator {
			background-color: orange;
			color: #F3F3F3;
			font-size: 6vmin;
			font-weight: 300;
			height: 0.8*$key_height;
			line-height: 0.8*$key_height;
			margin: 0 -15px;
		}
	}


}